<% provide(:title, "Contact") %>
<!doctype html>
<html>
<head>
  <title><%= yield(:title) %> | Freight App</title>
</head>
<body>
<h1>RCG Freight App</h1>

<p>This is the contact page for the <a href="http://rcgauto.com">RCG Auto</a> freight application.</p>

</body>
</html>